body {
    background-image: url(img/back.png);
    background-repeat: repeat;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12pt;
    min-width: 600px !important;
    height: 100%;
    width:100%;
}
#wrapper {
    position: absolute;
    top: 7.6%;
    left:17.7%;
    width: calc(64.5% - 230px);
    background-color: #373737;
    padding: 20px;
    /* padding-top: calc((200px - 3*18pt)/2); */
    color: #ffffff;
    z-index: 0;
    min-height: 220px;
    min-width: 600px !important;
}


hr {
    background-color: #1b1b1b;
    height: 5px;
    border: none;
}
a {
    color: white;
    text-decoration:none;
}
#linkwrapper {

    top: calc(7.6% + 220px);
    position: absolute;
    width: calc(64.5% - 20px);
    left: 17.7%;
    color: white;
    padding: 10px;
    background-color: #373737;
    min-width: 600px !important;
}
table, tr, td {
    background: #2a2a2a;
    border: 3px solid #1e1e1e;
}
tr {
    width: 5%;
}
td {
    height: 5%;
}
.headerContainer {
    width: 420pt;
    height: 70pt;
    font-size: 46pt;
    text-align: center;
    
}
.calendarDate {
    height:100px;
    width:100px;
}
.calendarEvent {
    text-align: center;
    height: 100%;
    width: 100%;
}
.calendarNull {
    color: #979797;
    height:60pt;
    width:60pt;
}